@import url('https://fonts.googleapis.com/css?family=Rubik:700|Rubik:400');

:root {
  --text: #c2ceff;
  --background: #00001a;
  --primary: #0b066f;
  --secondary: #0833a0;
  --accent: #8157f4;
  --button-hover: #1109a7;
  --disabled-background: #4d4f5a;
  --disabled-text: #808080;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  backdrop-filter: blur(10px); /* Apply the blur effect */
  background-color: rgba(11, 6, 111, 0.8); /* Slightly transparent background color */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  margin: 0;
  color: var(--text);
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 2rem;
}

.nav-links a {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--text);
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.nav-links a:hover {
  background-color: var(--secondary);
}

.nav-links a.active {
  background-color: var(--accent);
}

.banner {
  background-image: url("banner.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text);
}

.banner-content {
  max-width: 800px;
}

.banner h2 {
  font-size: 4.210rem;
  margin-bottom: 1rem;
}

.banner p {
  font-size: 1.333rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.primary-btn {
  background-color: var(--accent);
  color: var(--text);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.333rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 999px; /* Pill button */
}

.primary-btn:hover {
  background-color: var(--button-hover);
}

.primary-btn:disabled {
  background-color: var(--disabled-background);
  color: var(--disabled-text);
}

.games-section {
  padding: 2rem;
  background-color: var(--background);
  color: var(--text);
}

.games-section h2 {
  font-size: 3.158rem;
  margin-bottom: 2rem;
}

.games-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.game-card {
  background-color: var(--secondary);
  color: var(--text);
  padding: 2rem;
  flex-basis: calc(33.333% - 2rem);
  margin-bottom: 2rem;
  border-radius: 10px;
}

footer {
  padding: 1rem;
  background-color: var(--primary);
  color: var(--text);
  text-align: center;
}

.about-section, .projects-section {
  padding: 2rem;
  background-color: var(--background);
  color: var(--text);
}

.about-section h2, .projects-section h2 {
  font-size: 3.158rem;
  margin-bottom: 2rem;
}

.project-card {
  background-color: var(--secondary);
  color: var(--text);
  padding: 2rem;
  flex-basis: calc(50% - 2rem);
  margin-bottom: 2rem;
  border-radius: 10px;
}

.project-card a {
  color: var(--accent);
  text-decoration: none;
}

.project-card a:hover {
  text-decoration: underline;
}
